@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  margin: 0px;
  padding: 50px;
  min-width: 800px;
  font-family: 'Open Sans', Calibri, Candara, Arial, sans-serif;
  color: #222;
}
div.wrapper {
  width: 600px;
  margin: 0px auto;
  padding: 5px;
}

div.head {
  font-weight: bold;
  font-size: 48px;
  padding: 10px;
  border: 1px solid #ccc;
}

div.content {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-top: 0px;
}

input[type="submit"] {
    display: block;
    width: 300px;
    margin: 10px auto;
    margin-top: 20px;
    padding: 10px;
}
div.token {
  margin-top: 20px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Courier New", Courier, monospace;
}